body {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

.form-outline .form-control.form-control-lg {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
  color: white;
}

.text-white-50 {
  --mdb-text-opacity: 1;
  color: rgba(248, 248, 248, 0.918) !important;
  text-align: center;
}

.login-card {
  margin: 10% auto !important;
}

input#formControlLg {
  width: 300px;
}
.input-password {
  position: relative;
}
.image-password-eye {
  position: absolute;
  top: 10px;
  right: 10px;
}

.login-message {
  margin: -15px 0px 0px 0px;
}
.panel-input {
  width: 100%;
}
